<div class="center jumbotron">
    <h1>WeShred app</h1>

    <h2>
      This application for skateboarder and snowboarder.
    </h2>

    <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
  </div>
